<div>
    <div>
        <h1>Login</h1>
    </div>
    <div>
        <mat-form-field class="input-field-container">
            <mat-label>Username</mat-label>
            <input
                type="text"
                matInput
                [(ngModel)]="username"
            />
            <div
                *ngIf="usernameValidationMessage"
                class="error-message"
            >
                {{ usernameValidationMessage }}
            </div>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="input-field-container">
            <mat-label>Password</mat-label>
            <input
                type="password"
                matInput
                [(ngModel)]="password"
            />
            <div
                *ngIf="passwordValidationMessage"
                class="error-message"
            >
                {{ passwordValidationMessage }}
            </div>
        </mat-form-field>
    </div>
    <div>
        <button
            mat-raised-button
            color="primary"
            (click)="validateInput()"
        >
            Log in
        </button>
    </div>
</div>
