<main class="main">
    <button
        mat-raised-button
        (click)="logout()"
        class="logout-button"
    >
        Log out
    </button>
    <div class="content">
        <router-outlet></router-outlet>
        <!-- <div *ngIf="!isLoggedIn; else loggedIn">
            <app-login (loginStatus)="changeLoginStatus($event)"></app-login>
        </div>
        <ng-template #loggedIn>
            <router-outlet></router-outlet> -->
        <!-- <app-user-table
                *ngIf="!isAddMode && !isEditMode; else formView"
            ></app-user-table>
            <ng-template #formView>
                <app-form></app-form>
            </ng-template>
            <router-outlet></router-outlet>  -->
        <!-- </ng-template> -->
    </div>
</main>
