<main class="main">
    <button
        mat-raised-button
        (click)="logout()"
        class="logout-button"
    >
        Log out
    </button>
    <div class="content">
        <div *ngIf="!isLoggedIn; else loggedIn">
            <app-login (loginStatus)="changeLoginStatus($event)"></app-login>
        </div>
        <ng-template #loggedIn>
            <app-user-table *ngIf="!isAddMode && !isEditMode; else formView"></app-user-table>
            <!-- <app-form></app-form> -->
            <ng-template #formView></ng-template>
            <!-- <router-outlet></router-outlet> -->
        </ng-template>
    </div>
</main>

<!-- <nav>
    <a routerLink="/login">Login</a>
    <a routerLink="/list">List</a>
    <a routerLink="/add">Add</a>
    <a routerLink="/edit">Edit</a>
</nav>
<router-outlet></router-outlet> -->
