<style>
    main {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: inherit;
        position: relative;
    }
    .content {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 700px;
        margin-bottom: 3rem;
    }
</style>

<main class="main">
    <button
        mat-raised-button
        (click)="logout()"
        class="logout-button"
    >
        Log out
    </button>
    <div class="content">
        <div *ngIf="!isLoggedIn; else loggedIn">
            <app-login (loginStatus)="receiveDataFromChild($event)"></app-login>
        </div>
        <ng-template #loggedIn>
            <app-user-table></app-user-table>
            <app-form></app-form>
        </ng-template>
    </div>
</main>

<router-outlet></router-outlet>
