<div>
    <div class="action-buttons-container">
        <button
            mat-raised-button
            (click)="addUser()"
            class="add-button"
        >
            Add
        </button>
        <button
            mat-raised-button
            (click)="editRow()"
            [disabled]="isEditButtonDisabled"
            class="edit-button"
        >
            Edit
        </button>
        <button
            mat-raised-button
            (click)="deleteUsers()"
            [disabled]="isDeleteButtonDisabled"
            class="delete-button"
        >
            Delete
        </button>
    </div>
    <table class="table">
        <tr class="table-head-row">
            <td class="table-checkbox">
                <input
                    type="checkbox"
                    (change)="masterToggle()"
                    [checked]="isAllSelected()"
                />
            </td>
            <td class="table-head-item">Name</td>
            <td class="table-head-item">Last Name</td>
            <td class="table-head-item">Email</td>
            <td class="table-head-item">Phone</td>
            <td class="table-head-item">Actions</td>
        </tr>
        <tr
            *ngFor="let row of dataSource"
            class="table-body-row"
        >
            <td class="table-checkbox">
                <input
                    type="checkbox"
                    (change)="selectionToggle(row)"
                    [checked]="isSelected(row)"
                />
            </td>
            <td class="table-body-item">{{ row.firstName }}</td>
            <td class="table-body-item">{{ row.lastName }}</td>
            <td class="table-body-item">{{ row.email }}</td>
            <td class="table-body-item">{{ row.phone }}</td>
            <td class="table-body-item-action">
                <button
                    mat-raised-button
                    (click)="editRow(row)"
                >
                    Edit
                </button>
                <button
                    mat-raised-button
                    (click)="deleteRow(row)"
                >
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>
